*{
  margin: 0;
  padding: 0;
}

  
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  img {
        display: block;
        margin: 0 auto;
        width: 5%;
        transform: translateY(-15%);
      }   
.Spanish {
  text-align: center;
}

body{
  font-family: sans-serif;
  background: linear-gradient(115deg, rgba(0, 9, 19, 0.8),rgba(17, 1, 19, 0.5)),url(Lingobg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.Back-button-spanish{
  position: absolute;
  width:100%;
  top: 555px;
  transform: translateX(-200);
  text-align:center;
  color:#fff;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(Lingobackground.jpg);

} 
.wwyltl{
  color: rgb(248, 243, 243);
  text-align: center;
  width:100%;
  text-align:center;
  color:#fff;
  margin-top: -43%;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 120px;
  height: fit-content;
  position: relative;
  transform: translateY(90px);
  transform: translateX(-650px);
}
.navbar ul li{
  list-style: none;
  position: relative;
  transform: translateY(-75%);
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
img{
  width: 5.5rem;
  height: 5.2rem;
  border-radius: 50%;
}
.img{
  position: fixed;
}
  .Spanish{
    position:absolute;
    width:100%;
    top: 35%;
    transform: translateY(-50%);
    text-align:center;
    color:#fff;
}
.Korean{
    position:absolute;
    width:100%;
    top: 250%;
    transform: translateY(-90%);
    text-align:center;
    color:#fff;
}
button{
  font-size: 30px;
  width:200px;
  padding: 15px 0;
  text-align:center;
  margin:20 px 10 px;
  border-radius:25px;
  font-weight:bold;
  border: 3px solid #009688;
  background: transparent;
  color:#fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span{
  background: #009688;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span{
  width: 100%;
}
button:hover{
  border: none;
}
@media screen and (max-width:400px) {
  .wwyltl{
    margin-top: -195%;
  }
  .navbar ul li{
    transform: translateY(-130%);
  }
  .logo{
    display: block;
    max-width: 90px;
    top: -25px;
    left: 151%;
    
  }
}


